*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    border: 1px solid black;
    background-color: transparent; 
    width: 300px;
    border:2px rgba(255, 255, 255, .2)
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius:10px;
    padding: 10px;
}
.container h1{
    text-align: center;
    margin: 5px 0 5px 0;
}
.input_box{
    height: 50px;
    width:100%;
    margin: 20px 0;
    position: relative;
}
.input_box input{
    height: 100%;
    width: 100%;
    background:transparent;
    border: none;
    outline: none;
    border:2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;    
    color: white;
    padding: 0 10px 0 10px;
}
.input_box input::placeholder{
   padding: 10px;
   color: white;
}
.input_box i{
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}
.container .remember{
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px ;
}
.remember label input{
    accent-color:#fff;
    margin-right:3px;
}
.remember a{
    color:#fff;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size:16px;
    color: #333;
    font-weight:600;
}
#down{
    font-size:14.5px;
    text-align:center;
    margin-top:20px;
}
#down p a{
    color:#fff;
    text-decoration: none;
    font-weight:600;
}
#down p a:hover{
    text-decoration: underline;
}
